@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@liveblocks/react-ui/styles.css";
@import "@liveblocks/react-lexical/styles.css";

@import "@/styles/dark-theme.css";

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
    font-family: var(--font-inter);
}
/* ======== stream css overrides ======== */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
    }

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --container: 0 0 100%;
        --left-panel: 203, 32%, 10%;

        --gray-primary: 216, 20%, 95%;
        --gray-secondary: 216, 20%, 95%;

        --left-panel: 100, 100%, 100%;
        --chat-hover: 180, 5%, 96%;

        --green-primary: 167, 100%, 33%;
        --green-chat: 111, 91%, 91%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --container: 202, 31%, 7%;

        --gray-primary: 202, 23%, 16%;
        --gray-secondary: 202, 22%, 17%;

        --left-panel: 203, 32%, 10%;
        --chat-hover: 202, 23%, 16%;

        --green-primary: 167, 100%, 33%;
        --green-secondary: 165, 100%, 39%;
        --green-chat: 169, 100%, 18%;

        --gray-tertiary: 203, 22%, 21%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.radial {
    background-image: radial-gradient(
        ellipse farthest-side,
        white,
        #716768,
        black
    );
    background-size: 100% 90%;
    background-repeat: no-repeat;
}

.text-gradient {
    background: linear-gradient(to right, #4a4e58, white, #716768);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-radial {
    background-image: radial-gradient(
        ellipse farthest-side,
        rgba(113, 103, 104, 0.2) 30%,
        black 70%
    );
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.text-radial--circle {
    background-image: radial-gradient(
        circle farthest-side,
        rgba(113, 103, 104, 0.35) 20%,
        black 70%
    );
    background-size: 50% 70%;
    background-repeat: no-repeat;
    background-position: top center;
}

.backdrop--blur__safari {
    -webkit-backdrop-filter: blur(5px);
}

.radial--blur {
    -webkit-backdrop-filter: blur(100px);
    filter: blur(100px);
    background: #877874;
}
.recharts-responsive-container {
     height: initial !important;
}
@media only screen and (max-width: 800px) {
    .text-radial--circle {
        background-image: radial-gradient(
            circle farthest-side,
            rgba(113, 103, 104, 0.2) 20%,
            black 70%
        );
        background-size: 100% 50%;
        background-repeat: no-repeat;
        background-position: top center;
    }
}

.swiper-autoheight .swiper-slide {
    height: 100% !important;
}

.content-width-slide {
    width: fit-content !important;
}

.img--overlay {
    background-image: -webkit-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
    ); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
    ); /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
    ); /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
    ); /* Standard syntax; must be last */
}

.slider-overlay {
    background-image: -webkit-linear-gradient(
        to right,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
    ); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(
        to right,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
    ); /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(
        to right,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
    ); /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
    ); /* Standard syntax; must be last */
}

.slider-overlay-rev {
    background-image: -webkit-linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 1)
    ); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 1)
    ); /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 1)
    ); /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 1)
    ); /* Standard syntax; must be last */
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

/* ========================================== TAILWIND STYLES */
@layer base {
    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        border-radius: 50px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #09090a;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #2e3d5b;
        border-radius: 50px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #7878a3;
    }
}

@layer utilities {
    .h1 {
    @apply text-[34px] leading-[42px] font-bold;
  }
  .h2 {
    @apply text-[24px] leading-[36px] font-bold;
  }
  .h3 {
    @apply text-[20px] leading-[28px] font-semibold;
  }
  .h4 {
    @apply text-[18px] leading-[20px] font-medium;
  }
  .h5 {
    @apply text-[16px] leading-[24px] font-semibold;
  }
  .subtitle-1 {
    @apply text-[16px] leading-[24px] font-medium;
  }
  .subtitle-2 {
    @apply text-[14px] leading-[20px] font-semibold;
  }
  .body-1 {
    @apply text-[16px] leading-[24px] font-normal;
  }
  .body-2 {
    @apply text-[14px] leading-[20px] font-normal;
  }
  .button {
    @apply text-[14px] leading-[20px] font-medium;
  }
  .caption {
    @apply text-[12px] leading-[16px] font-normal;
  }
  .overline {
    @apply text-[10px] leading-[14px] font-normal;
      }
      .container {
    @apply mx-auto max-w-7xl px-5;
  }
  .primary-btn {
    @apply bg-brand hover:bg-brand-100 transition-all rounded-full button !important;
      }

  /* =====  SHADCN OVERRIDES */
  .shad-no-focus {
    @apply outline-none ring-offset-transparent focus:ring-transparent focus:ring-offset-0 focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
  .shad-input {
    @apply border-none shadow-none p-0 shad-no-focus placeholder:text-light-200 body-2 !important;
  }

  .shad-form-item {
    @apply flex h-[78px] flex-col justify-center rounded-xl border border-light-300 px-4 shadow-drop-1;
  }
  .shad-form-label {
    @apply text-light-100 pt-2 body-2 w-full !important;
  }
  .shad-form-message {
    @apply text-red body-2 ml-4 !important;
  }
  .shad-alert-dialog {
    @apply space-y-4 max-w-[95%] sm:w-fit rounded-xl md:rounded-[30px] px-4 md:px-8 py-10 bg-white outline-none !important;
  }
  .shad-submit-btn {
    @apply bg-brand button hover:bg-brand-100 transition-all rounded-full !important;
  }
  .shad-otp {
    @apply w-full flex gap-1 sm:gap-2 justify-between !important;
  }
  .shad-otp-slot {
    @apply text-[40px] font-medium rounded-xl ring-brand shadow-drop-1 text-brand-100 justify-center flex border-2 border-light-300 size-12 md:size-16 gap-5 !important;
  }

  .shad-sheet {
    @apply pt-0 !important;
  }
  .shad-sheet button,
  .shad-dialog button {
    @apply focus:ring-0 focus:ring-offset-0 focus-visible:border-none outline-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
  .shad-dropdown-item {
    @apply cursor-pointer !important;
  }
  .shad-dialog {
    @apply rounded-[26px] w-[90%] max-w-[400px] px-6 py-8   !important;
  }
  .shad-chart-title {
    @apply text-white !important;
  }
  .shad-select-item {
    @apply cursor-pointer !important;
  }

  /* Sidebar & MobileNavigation */
  .nav-icon {
    @apply w-6 filter invert opacity-25 !important;
      }
      .nav-icon-active {
    @apply invert-0 opacity-100 !important;
  }

  /* =====  STYLE CLASSES */

  /* Root Layout */
  .main-content {
    @apply h-full flex-1 overflow-auto bg-light-400 px-5 py-7 sm:mr-7 sm:rounded-[30px] md:mb-7 md:px-9 md:py-10 !important;
  }

  /* Dashboard */
  .dashboard-container {
    @apply mx-auto grid max-w-7xl grid-cols-1 gap-6 md:grid-cols-2 xl:gap-10 !important;
  }
  .dashboard-summary-list {
    @apply mt-6 grid grid-cols-1 gap-4 xl:mt-10 xl:grid-cols-2 xl:gap-9 !important;
  }
  .dashboard-summary-card {
    @apply relative mt-6 rounded-[20px] bg-white p-5 transition-all hover:scale-105 !important;
  }
  .summary-type-icon {
    @apply absolute -left-3 top-[-25px] z-10 w-[190px] object-contain !important;
  }
  .summary-type-size {
    @apply h4 relative z-20 w-full text-right !important;
  }
  .summary-type-title {
    @apply h5 relative z-20 text-center !important;
  }
  .dashboard-recent-files {
    @apply h-full rounded-[20px] bg-white p-5 xl:p-8 !important;
  }
  .recent-file-details {
    @apply flex w-full flex-col xl:flex-row xl:justify-between !important;
  }
  .recent-file-name {
    @apply subtitle-2 line-clamp-1 w-full text-light-100 sm:max-w-[200px] lg:max-w-[250px] !important;
  }
  .recent-file-date {
    @apply body-2 text-light-100/80 !important;
  }
  .empty-list {
    @apply body-1 mt-10 text-center text-light-200 !important;
  }

  /* Type page */
  .page-container {
    @apply mx-auto flex w-full max-w-7xl flex-col items-center gap-8 !important;
  }
  .total-size-section {
    @apply flex mt-2 flex-col justify-between sm:flex-row sm:items-center !important;
  }
  .file-list {
    @apply grid w-full gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 !important;
  }
  .sort-container {
    @apply mt-5 flex items-center sm:mt-0 sm:gap-3 !important;
      }
      .rename-input-field {
    @apply body-2 shad-no-focus h-[52px] w-full rounded-full border px-4 shadow-drop-1 !important;
  }
  .delete-confirmation {
    @apply text-center text-light-100 !important;
  }
  .delete-file-name {
    @apply font-medium text-brand-100 !important;
  }
  .modal-cancel-button {
    @apply h-[52px] flex-1 rounded-full bg-white text-light-100 hover:bg-transparent !important;
  }
  .modal-submit-button {
    @apply primary-btn !mx-0 h-[52px] w-full flex-1 !important;
  }

  /* ActionsModalContent */
  .file-details-thumbnail {
    @apply !mb-1 flex items-center gap-3 rounded-xl border border-light-200/40 bg-light-400/50 p-3 !important;
  }
  .file-details-label {
    @apply body-2 w-[30%] text-light-100 !important;
  }
  .file-details-value {
    @apply subtitle-2 flex-1 !important;
  }

  .share-wrapper {
    @apply !mt-2 space-y-2 !important;
  }
  .share-input-field {
    @apply body-2 shad-no-focus h-[52px] w-full rounded-full border px-4 shadow-drop-1 !important;
  }
  .share-remove-user {
    @apply rounded-full bg-transparent text-light-100 shadow-none hover:bg-transparent !important;
  }
  .remove-icon {
    @apply aspect-square rounded-full !important;
    }
      /* Card */
  .file-card {
    @apply flex cursor-pointer flex-col gap-6 rounded-[18px] bg-white p-5 shadow-sm transition-all hover:shadow-drop-3 !important;
  }
  .file-card-details {
    @apply flex flex-col gap-2 text-light-100 !important;
  }

  /* Chart */
  .chart {
    @apply flex items-center rounded-[20px] bg-brand p-5 text-white md:flex-col xl:flex-row !important;
  }
  .chart-container {
    @apply mx-auto aspect-square w-[180px] text-white xl:w-[250px] !important;
  }
  .polar-grid {
    @apply first:fill-white/20 last:fill-brand !important;
  }
  .chart-details {
    @apply flex-1 items-start px-3 py-0 sm:px-5 lg:p-3 xl:pr-5 !important;
  }
  .chart-total-percentage {
    @apply fill-white text-4xl font-bold !important;
  }
  .chart-title {
    @apply h3 font-bold md:text-center lg:text-left !important;
  }
  .chart-description {
    @apply subtitle-1 mt-2 w-full text-white/70 md:text-center lg:text-left !important;
      }
      .uploader-button {
    @apply primary-btn h-[52px] gap-2 px-10 shadow-drop-1 !important;
  }
  .uploader-preview-list {
    @apply fixed bottom-10 right-10 z-50 flex size-full h-fit max-w-[480px] flex-col gap-3 rounded-[20px] bg-white p-7 shadow-drop-3 !important;
  }
  .uploader-preview-item {
    @apply flex items-center justify-between  gap-3 rounded-xl p-3 shadow-drop-3 !important;
  }
  .preview-item-name {
    @apply subtitle-2 mb-2 line-clamp-1 max-w-[300px] !important;
  }

  .error-toast {
    @apply bg-red !rounded-[10px] !important;
  }

  /* Header */
  .header {
    @apply hidden items-center justify-between gap-5 p-5 sm:flex lg:py-7 xl:gap-10 !important;
  }
  .header-wrapper {
    @apply flex-center min-w-fit gap-4 !important;
  }
  .sign-out-button {
    @apply flex-center h-[52px] min-w-[54px] items-center rounded-full bg-brand/10 p-0 text-brand shadow-none transition-all hover:bg-brand/20 !important;
      }
      .mobile-header {
    @apply flex h-[60px] justify-between px-5 sm:hidden !important;
  }
  .header-user {
    @apply my-3 flex items-center gap-2 rounded-full p-1 text-light-100 sm:justify-center sm:bg-brand/10 lg:justify-start lg:p-3 !important;
  }
  .header-user-avatar {
    @apply aspect-square w-10 rounded-full object-cover !important;
  }
  .mobile-nav {
    @apply h5 flex-1 gap-1 text-brand !important;
  }
  .mobile-nav-list {
    @apply flex flex-1 flex-col gap-4 !important;
  }
  .mobile-nav-item {
    @apply flex text-light-100 gap-4 w-full justify-start items-center h5 px-6 h-[52px] rounded-full !important;
  }
  .mobile-sign-out-button {
    @apply h5 flex h-[52px] w-full items-center gap-4 rounded-full bg-brand/10 px-6 text-brand shadow-none transition-all hover:bg-brand/20 !important;
    }
      .search {
    @apply relative w-full md:max-w-[480px] !important;
  }
  .search-input-wrapper {
    @apply flex h-[52px] flex-1 items-center gap-3 rounded-full px-4 shadow-drop-3 !important;
  }
  .search-input {
    @apply body-2 shad-no-focus  placeholder:body-1 w-full border-none p-0 shadow-none placeholder:text-light-200 !important;
  }
  .search-result {
    @apply absolute left-0 top-16 z-50 flex w-full flex-col gap-3 rounded-[20px] bg-white p-4 !important;
  }
  .empty-result {
    @apply body-2 text-center text-light-100 !important;
  }

  /* Sidebar */
  .sidebar {
    @apply hidden h-screen w-[90px] flex-col overflow-auto px-5 py-7 sm:flex lg:w-[280px] xl:w-[325px] !important;
  }
  .sidebar-nav {
    @apply h5 mt-9 flex-1 gap-1 text-brand !important;
  }
  .sidebar-nav-item {
    @apply flex text-light-100 gap-4 rounded-xl lg:w-full justify-center lg:justify-start items-center h5 lg:px-[30px] h-[52px] lg:rounded-full !important;
  }
  .sidebar-user-info {
    @apply mt-4 flex items-center justify-center gap-2 rounded-full bg-brand/10 p-1 text-light-100 lg:justify-start lg:p-3 !important;
  }
  .sidebar-user-avatar {
    @apply aspect-square w-10 rounded-full object-cover !important;
  }

  .shad-active {
    @apply bg-brand text-white shadow-drop-2 !important;
  }

  /* Sort */
  .sort-select {
    @apply shad-no-focus h-11 w-full rounded-[8px] border-transparent bg-white !shadow-sm sm:w-[210px] !important;
  }
  .sort-select-content {
    @apply !shadow-drop-3 !important;
  }

  /* Thumbnail */
  .thumbnail {
    @apply flex-center size-[50px] min-w-[50px] overflow-hidden rounded-full bg-brand/10;
  }
  .thumbnail-image {
    @apply size-full object-cover object-center !important;
  } 
      .flex-between {
    @apply flex justify-between items-center;
      }
    .input-class {
        @apply text-16 placeholder:text-16 bg-white dark:bg-black rounded-[6px] placeholder:text-gray-1 border-none text-gray-1;
    }
    .podcast_grid {
        @apply grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
    }
    .right_sidebar {
        @apply sticky right-0 top-0 flex w-[310px] flex-col overflow-y-hidden border-none bg-themeWhite dark:bg-black px-[30px] pt-8;
    }
    .left_sidebar {
        @apply sticky left-0 top-0 flex w-fit flex-col  justify-between  border-none  bg-white text-black dark:bg-black pt-8 dark:text-white lg:w-[270px] lg:pl-8;
    }
    .generate_thumbnail {
        @apply mt-[30px] flex w-full max-w-[520px] flex-col justify-between gap-2 rounded-lg border border-gray-100 dark:border-black-6 bg-white dark:bg-black-1 px-2.5 py-2 md:flex-row md:gap-0;
    }
    .image_div {
        @apply flex-center mt-5 h-[142px] w-full cursor-pointer flex-col gap-3 rounded-xl border-[3.2px] border-dashed border-gray-100 dark:border-black-6 bg-white dark:bg-black;
    }
    .carousel_box {
        @apply relative flex h-fit aspect-square w-full flex-none cursor-pointer flex-col justify-end rounded-xl border-none;
    }
    .button_bold-16 {
        @apply text-[16px] font-bold transition-all duration-500;
    }
    .flex-center {
        @apply flex items-center justify-center;
    }
    .text-12 {
        @apply text-[12px] leading-normal;
    }
    .text-14 {
        @apply text-[14px] leading-normal;
    }
    .text-16 {
        @apply text-[16px] leading-normal;
    }
    .text-18 {
        @apply text-[18px] leading-normal;
    }
    .text-20 {
        @apply text-[20px] leading-normal;
    }
    .text-24 {
        @apply text-[24px] leading-normal;
    }
    .text-32 {
        @apply text-[32px] leading-normal;
    }
    .text-28-semibold {
        @apply text-[28px] font-semibold;
    }
    .text-10-regular {
        @apply text-[10px] font-normal;
    }

    .gradient-blue {
        @apply bg-gradient-to-t from-blue-500 to-blue-400;
    }
    .gradient-red {
        @apply bg-gradient-to-t from-red-500 to-red-400;
    }

    .shad-dialog {
        @apply w-full max-w-[400px] rounded-xl border-none bg-doc bg-cover px-5 py-7 shadow-xl sm:min-w-[500px] !important;
    }

    .shad-dialog button {
        @apply focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
    }

    .shad-select {
        @apply w-fit border-none bg-transparent text-blue-100 !important;
    }

    .shad-select svg {
        @apply ml-1 mt-1;
    }

    .shad-select-item {
        @apply cursor-pointer bg-dark-200 text-blue-100 focus:bg-dark-300 hover:bg-dark-300 focus:text-blue-100 !important;
    }

    .shad-popover {
        @apply w-[460px] border-none bg-dark-200 shadow-lg !important;
    }

    .floating-toolbar {
        @apply flex w-full min-w-max items-center justify-center gap-2 rounded-lg bg-themeWhite dark:bg-dark-350 p-1.5 shadow-xl;
    }

    .floating-toolbar-btn {
        @apply relative inline-flex size-8 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50;
    }

    .toolbar-wrapper {
        @apply z-50 custom-scrollbar w-screen overflow-auto border-y border-gray-100 dark:border-dark-300 bg-themeWhite dark:bg-dark-100 pl-3 pr-4 shadow-sm;
    }

    .editor-wrapper {
        @apply custom-scrollbar h-[calc(100vh-140px)] gap-5 overflow-auto px-5 pt-5 lg:flex-row lg:items-start lg:justify-center  xl:gap-10 xl:pt-10;
    }

    .header {
        @apply min-h-[92px] min-w-full flex-nowrap bg-themeWhite dark:bg-dark-100 flex w-full items-center justify-between gap-2 px-4;
    }

    .document-list-container {
        @apply flex flex-col items-center mb-10 w-full gap-10 px-5;
    }

    .document-list-title {
        @apply max-w-[730px] items-end flex w-full justify-between;
    }

    .document-list-item {
        @apply flex items-center justify-between gap-4 rounded-lg bg-doc bg-cover p-5 shadow-xl;
    }

    .document-list-empty {
        @apply flex w-full max-w-[730px] flex-col items-center justify-center gap-5 rounded-lg bg-themeWhite dark:bg-dark-200 px-10 py-8;
    }

    .document-title-input {
        @apply min-w-[78px] flex-1 border-none bg-transparent px-0 text-left text-base font-semibold leading-[24px] focus-visible:ring-0 focus-visible:ring-offset-0 sm:text-xl md:text-center disabled:text-black !important;
    }

    .document-title {
        @apply line-clamp-1 border-gray-100 dark:border-dark-400 text-base font-semibold leading-[24px] sm:pl-0 sm:text-xl;
    }

    .view-only-tag {
        @apply rounded-md bg-white dark:bg-dark-400/50 px-2 py-0.5 text-xs text-blue-100/50;
    }

    .collaborators-list {
        @apply hidden items-center justify-end -space-x-3 overflow-hidden sm:flex;
    }

    .share-input {
        @apply h-11 flex-1 border-none bg-white dark:bg-dark-400 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
    }

    .remove-btn {
        @apply rounded-lg bg-transparent px-0 text-red-500 hover:bg-transparent;
    }

    .comments-container {
        @apply mb-10 space-y-4 lg:w-fit flex w-full flex-col items-center justify-center;
    }

    .comment-composer {
        @apply w-full max-w-[800px] border border-gray-200 dark:border-dark-300 bg-white dark:bg-dark-200 shadow-sm lg:w-[350px];
    }

    .comment-thread {
        @apply w-full max-w-[800px] border border-gray-200 dark:border-dark-300 bg-white dark:bg-dark-200 shadow-sm lg:w-[350px] transition-all;
    }

    .loader {
        @apply flex size-full h-screen items-center justify-center gap-3;
    }

    /* ======================== Auth Pages */
    .auth-page {
        @apply flex h-screen w-full flex-col items-center justify-center gap-10;
    }

    /* ======================== Home Page */
    .home-container {
        @apply relative flex min-h-screen w-full flex-col items-center gap-5 sm:gap-10;
    }

    .document-ul {
        @apply flex w-full max-w-[730px] flex-col gap-5;
    }

    /* ======================== CollaborativeRoom */
    .collaborative-room {
        @apply flex size-full max-h-screen flex-1 flex-col items-center overflow-hidden;
    }
}

/* animation */

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
    }

/* ======================== Clerk Override */
.cl-avatarBox {
    width: 36px;
    height: 36px;
}

.cl-userButtonTrigger {
    height: fit-content !important;
}

.cl-cardBox,
.cl-signIn-start,
.cl-signUp-start,
.cl-footer {
    background: #060d18;
    box-shadow: none;
    padding: 20px;
}

.cl-socialButtonsBlockButton,
.cl-socialButtonsBlockButton:hover {
    height: 40px;
    background-color: #3371ff;
    color: #fff;
}

.cl-internal-2gzuzc {
    filter: brightness(1000%);
}

.cl-logoBox {
    height: 64px;
}

.cl-userButtonPopoverMain,
.cl-userButtonPopoverFooter {
    background: #0b1527;
}

/* ======================== Liveblocks Override */
.lb-root {
    --lb-accent-subtle: #0b1527;
    --lb-radius: 0px;
    --lb-dynamic-background: #1b2840;
}

.lb-comment,
.lb-thread-comments,
.lb-composer,
.lb-comment-reaction {
    background-color: #0f1c34;
    color: #fff;
}

.lb-button {
    --lb-foreground-moderate: #fff;
}

.lb-button:where([data-variant="primary"]) {
    background-color: #161e30;
    color: #b4c6ee;
    padding: 8px;
}

.lb-button:where(
        [data-variant="default"]:not(
                :is(
                        :enabled:hover,
                        :enabled:focus-visible,
                        [aria-expanded="true"],
                        [aria-selected="true"]
                    )
            )
    ) {
    color: #b4c6ee;
}

.lb-button:where(
        :enabled:hover,
        :enabled:focus-visible,
        [aria-expanded="true"],
        [aria-selected="true"]
    ) {
    --lb-button-background: #161e30;

    color: #b4c6ee;
}

.lb-inbox-notification-list-item:where(:not(:last-of-type)) {
    border-bottom: none;
}

.lb-comment-body,
.lb-dropdown-item,
.lb-dropdown-item-icon,
.lb-composer-editor {
    color: #fff;
}

.lb-composer-action {
    padding: 8px;
}

.lb-comment-content {
    background: #0b1527;
    margin-top: 16px;
    padding: 12px;
    border-radius: 4px;
    font-size: 14px;
}

.lb-comment-date,
.lb-lexical-mention-suggestion-user,
.lb-composer-suggestions-list-item,
.lb-inbox-notification-date,
.lb-comment-author,
.lb-emoji-picker-search-icon,
.lb-emoji-picker-category-header-title,
.lb-emoji-picker-search::placeholder {
    color: #b4c6ee;
}

.data-liveblocks-portal {
    color: #b4c6ee !important;
}

.lb-root:where(:not(.lb-root .lb-root)) {
    --lb-dynamic-background: #1b2840;
    color: #fff;
}

.lb-composer-editor :where([data-placeholder]) {
    color: #b4c6ee;
    font-size: 14px;
}

.lb-lexical-floating-threads-thread:where([data-resolved]) {
    opacity: 40%;
}

.lb-elevation {
    background: #0f1c34;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
.glassmorphism-auth {
    background: rgba(6, 3, 3, 0.711);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
.glassmorphism-black {
    background: rgba(18, 18, 18, 0.64);
    backdrop-filter: blur(37px);
    -webkit-backdrop-filter: blur(37px);
}

/* ======= clerk overrides ======== */
.cl-socialButtonsIconButton {
    border: 2px solid #222429;
}
.cl-button {
    color: white;
}
.cl-socialButtonsProviderIcon__github {
    filter: invert(1);
}
.cl-internal-b3fm6y {
    background: #f97535;
}
.cl-formButtonPrimary {
    background: #f97535;
}
.cl-footerActionLink {
    color: #f97535;
}
.cl-headerSubtitle {
    color: #c5d0e6;
}
.cl-logoImage {
    width: 10rem;
    height: 3rem;
}
.cl-internal-4a7e9l {
    color: white;
}

.cl-userButtonPopoverActionButtonIcon {
    color: white;
}
.cl-internal-wkkub3 {
    color: #f97535;
}
